
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.piggi{
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}
